<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="btc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BtC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <btc.Properties.Settings>
            <setting name="Btn1" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn2" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn3" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn4" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn5" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn6" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn7" serializeAs="String">
                <value />
            </setting>
            <setting name="Btn8" serializeAs="String">
                <value />
            </setting>
        </btc.Properties.Settings>
        <BtC.Properties.Settings>
            <setting name="Btn1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Btn2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Btn3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Btn4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Btn5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Btn6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Btn7" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Btn8" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="HC05_COM" serializeAs="String">
                <value>COM</value>
            </setting>
            <setting name="RememberCOM" serializeAs="String">
                <value>False</value>
            </setting>
        </BtC.Properties.Settings>
    </userSettings>
</configuration>